@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Winky Rough', ui-sans-serif, system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
}

@layer utilities {
  /* Text */
  .text-primary {
    @apply text-[#81353B];
  }

  .text-hover {
    @apply hover:scale-105;
  }

  /* Background */
  .bg-primary {
    @apply bg-[#FBF7F0];
  }

  .bg-secondary {
    @apply bg-[#f5f0e8];
  }

  .bg-lightpeach {
    @apply bg-[#f6e5db];
  }

  .bg-darkpeach {
    @apply bg-[#f9dbca];
  }

  /* Navbar */
.bg-navbar {
    background-color: #f6e5db;
    background-image: url('./textures/dark-tire.png');
  }

  .bg-navbarphone {
    background-color: #fbf7f0;
    background-image: url('./textures/rice-paper.png');
  }

  /* Hero */
  .bg-herocard {
    background-color: #f9dbca;
    background-image: url('./textures/paper-3.png');
  }

  .bg-polaroid {
    background-color: #FBF7F0;
    background-image: url("./textures/little-pluses.png");
  }

  /* Experience */
  .bg-experience {
    background-color: #f6e5db;
    background-image: url('./textures/dark-tire.png');
  }

  .bg-experiencebrown {
    background-color: #d0bc99;
    background-image: url('./textures/crossword.png');
  }

  .bg-experiencepeach {
    background-color: #e5b69a;
    background-image: url('./textures/crossword.png');
  }

  .bg-experiencecard {
    background-color: #fbf7f0;
    background-image: url('./textures/rice-paper-2.png');
  }

  /* Project */
  .bg-project {
    background-color: #c9b591;
    background-image: url("https://www.transparenttextures.com/patterns/tex2res5.png");
  }

  /* Border/Ring */
  .border-color {
    @apply border-[#ba888c];
  }

  .ring-color {
    @apply ring-[#ba888c];
  }
}
