@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Winky Rough', ui-sans-serif, system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
}

@layer utilities {
  /* Text */
  .text-primary {
    @apply text-[#81353B];
  }

  .text-hover {
    @apply hover:scale-105;
  }

  /* Background */
  .bg-primary {
    @apply bg-[#FBF7F0];
  }

  .bg-secondary {
    @apply bg-[#f5f0e8];
  }

  .bg-lightpeach {
    @apply bg-[#f6e5db];
  }

  .bg-darkpeach {
    @apply bg-[#F5BFA3]/50;
  }

  /* Textured background */
  .bg-washi {
    background-image: url('./textures/texture1.png');
    background-size: cover;
    background-repeat: repeat;
    background-color: rgba(228, 211, 172, 0.65);
    background-blend-mode: lighten;
  }

  .bg-darkpeachwashi {
    background-image: url('./textures/texture1.png');
    background-size: cover;
    background-repeat: repeat;
    background-color: rgba(245, 191, 163, 0.8);
    background-blend-mode: lighten;
  }

  /* Border/Ring */
  .border-color {
    @apply border-[#81353B]/50;
  }

  .ring-color {
    @apply ring-[#81353B]/50;
  }
}
