@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Winky Rough", ui-sans-serif, system-ui, sans-serif;
}

html {
  font-family: var(--font-sans);
}

@layer utilities {
  /* Text */
  .text-primary{
    @apply text-[#B23A48]
  }

  .text-hover{
    @apply hover:scale-105
  }

  /* Background */
  .bg-primary {
    @apply bg-[#FDF9EC]
  }

  .bg-lightpeach {
    @apply bg-[#FFD1BD]
  }

  .bg-darkpeach {
    @apply bg-[#FFBC9E]
  }
}
